# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/BlockChainServer/CMakeLists.txt.user
/BlockChainServer/CMakeLists.txt.user
*.user
*.user
/build-BlockChainServer-Desktop_Qt_5_6_2_MSVC2015_32bit-Default
